springdemo/src/springdemo3/resources/user.xsd

<?xml version="1.0" encoding="utf-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://localhost/schema/springdemo3/bean/User"
        elementFormDefault="qualified">
    <element name="user">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="username" type="string"/>
            <attribute name="sex" type="string"/>
            <attribute name="age" type="int"/>
        </complexType>
    </element>
</schema>